<main>
    <h1>COVID-19</h1>
    <h2>Canadian Federal government struggling to get rid of millions of extra COVID-19 rapid tests</h2>
    <div class="news-container">
        <div class="news-container__imgContainer">
            <img src="../../../assets/covid-rapid-tests.jpg" alt="" srcset="">
            <p>The federal government is sitting on a stockpile of millions of rapid tests and is trying to figure out how to get rid of some of them. (David Horemans/CBC)
            </p>
        </div>
        <p>As the Omicron variant of the virus began to tear across Canada at the end of 2021, the government rapidly bought up rapid antigen tests, distributing most of them to the provinces so people could swab themselves for the virus at home.

        <br> <br>Now that far fewer people are subjecting themselves to the brain-tickling sensation of a COVID-19 test outside of hospitals and other health-care settings, the government appears to have more than it knows what to do with. "Acknowledging the volumes of tests in play and the challenge of divesting such quantity over a time-bound period, it is expected that disposal of expired tests would be required," staff wrote to Health Canada's deputy minister in a memo signed March 25.</p><br>
        <p>Provinces and territories now have enough supply of their own to give eight tests to each Canadian. The federal health department plans to keep up to 55 million in reserve to prepare for the next emergency, which leaves 39 million extra as of the end of March. In a written statement, Health Canada said some tests are being donated to non-profits, public institutions and charities through GCDonate, a part of the government's online surplus site. They're also being shared among government departments for employee testing programs.
        </p>
    </div>
</main>