<main>
    <h1>FIFA WOMEN'S WORLD CUP</h1>
    <h2>Colombia Women's National Team takes over South Korea in their first game at the World cup 2023</h2>
    <div class="news-container">
        <div class="news-container__imgContainer">
            <img src="../../../assets/colombia-womens-national-soccer-team-2023-billboard-espanol-1548.jpg" alt="" srcset="">
            <p>Colombia forward Catalina Usme (right) celebrates after scoring her team's first penalty goal during the Group H soccer match between Colombia and South Korea at the FIFA Women's World Cup Australia & New Zealand 2023, at the Sydney Football Stadium, in Sydney, Australia, on July 25, 2023. Franck Fife/AFP via Getty Images
            </p>
        </div>
        <p>Colombia had taken the lead from a penalty in the 30th minute after Shim Seo-yeon handled a goal-bound effort from Manuela Vanegas in the area, with Catalina Usme converting from the spot by sending South Korean goalkeeper Yoon Young-geul the wrong way.

        <br> <br>Caicedo's goal came at the end of a darting run from midfield, which saw her cut in from the left before curling a shot from the edge of the box and while her effort appeared too central to trouble Yoon, the 'keeper got her positioning wrong and instead fumbled it into the net. Lee Geum-min was close to pulling a goal back for South Korea at the end of the half, but was denied by the flying save of Catalina Perez.</p><br>
        <p>In a moment for the history books, 16-year-old Casey Phair became the youngest-ever player in the Women's World Cup when she went on as a second-half substitute for South Korea, but it was too little, too late. The result leaves Colombia second in Group H behind Germany, who thrashed Morocco 6-0 on Monday
        </p>
    </div>
</main>
