<main>
    <h1>FAST FASHION ONLINE RETAILERS</h1>
    <h2>Shein is trying to take on Amazon. Some say it should be cleaning up its act instead</h2>
    <div class="news-container">
        <div class="news-container__imgContainer">
            <img src="../../../assets/shein.jpg" alt="" srcset="">
            <p>Global fast-fashion giant Shein is expanding, launching an online marketplace similar to Amazon. (Illustration by Andrew Nguyen)
            </p>
        </div>
        <p>Shein, a Chinese company based in Singapore, has seen its popularity explode on social media for its $3 tops, $5 dresses and nearly endless webpages of styles. According to Business Insider, Shein has more than 74.7 million active shoppers, and in 2022, the company was worth $100 billion US.

        <br> <br>Now, the company is expanding from selling its own branded apparel to become a global online marketplace to compete with some of the biggest online e-commerce brands. Its online marketplace will see third-party vendors sell everything from housewares to appliances, directly to the consumer, similar to Amazon.</p><br>
        <p>It's one of many companies moving into the marketplace business. This week, The Wall Street Journal reported that TikTok is also building an Amazon-like marketplace. And Temu, a Chinese owned e-commerce platform, launched in the U.S. in 2022 and in Canada this February.
        </p>
    </div>
</main>

