<main>
    <h1>SEVERE THUNDERSTORM</h1>
    <h2>Thousands of customers without power after Ottawa-Gatineau storm</h2>
    <div class="news-container">
        <div class="news-container__imgContainer">
            <img src="../../../assets/hail-storm-ottawa.jpg" alt="" srcset="">
            <p>A downed tree lies across Flora Street in Centretown on May 21, 2022, after Ottawa was hit by a major thunderstorm. (Michelle Allan/CBC)
            </p>
        </div>
        <p>Hundreds of customers are still without power in both Ottawa and Gatineau, Que., after a severe thunderstorm on Friday. As of late Saturday afternoon, Hydro Ottawa's outage map was showing about 400 customers in the dark in various neighbourhoods across the city.</p>
        <br>
        <p>Another 2,000 or so Hydro-Québec customers were without electricity in Gatneau's Aylmer sector.Environment Canada issued a tornado warning for the region Friday evening, after a severe thunderstorm capable of producing a twister was located near Arnprior, Ont., moving southeast at 60 km/h.</p>
    </div>
</main>