<nav>
    <div class="left-side">
        <div class="hamburguerMenu">
            <button class="hamburguerMenu-button"><img src="https://www.svgrepo.com/show/312300/hamburger-menu.svg"></button>
            <div class="hamburguerMenu-content">
                <a routerLink="">Home</a>
                <a routerLink="weather">Weather</a>
                <a routerLink="business">Business</a>
                <a routerLink="sports">Sport</a>
                <a routerLink="health">Health</a>
            </div>
        </div>
        <div class="logo">
            <a routerLink=""><img src="../../../assets/newspaperlogo.png" alt=""></a>
        </div>
    </div>
    <div class="right-side">
        <a routerLink="subscribe" class="right-side__subscribe">Subscribe</a>
        <a class="right-side__signIn">Sign In</a>
    </div>
</nav>
